<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_14542513HayriyeCingöz_restoran_.Properties.Settings.restaurantConnectionString"
            connectionString="Data Source=HAYRIYE;Initial Catalog=restaurant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>